<h2 mat-dialog-title class="text-center mt-2" *ngIf="data.id == 0">Registrar</h2>
<h2 mat-dialog-title class="text-center mt-2" *ngIf="data.id != 0">Actualizar</h2>
<mat-dialog-content class="row">
  <form class="row" [formGroup]="formCurso" #frmCurso="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
      <mat-form-field appearance="outline">
        <input matInput placeholder="ID" formControlName="id">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="code">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Descripción" formControlName="description">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close class="btn btn_danger">Cancelar</button>
  <button class="btn btn-primary" *ngIf="data.id == 0" (click)="operar()"
    [disabled]="frmCurso.invalid">Guardar</button>
  <button class="btn btn-success" *ngIf="data.id != 0" (click)="operar()"
    [disabled]="frmCurso.invalid">Actualizar</button>
</mat-dialog-actions>
