<h2 mat-dialog-title class="text-center mt-2" *ngIf="data.id == 0">Registrar</h2>
<h2 mat-dialog-title class="text-center mt-2" *ngIf="data.id != 0">Actualizar</h2>
<mat-dialog-content class="row">

  <form class="row" [formGroup]="formAgenda" #frmAgenda="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
      <mat-form-field appearance="outline">
        <input matInput placeholder="ID" formControlName="id">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="Fecha de uso" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Hora Inicio</mat-label>
      <input matInput placeholder="Hora Inicio" formControlName="startTime">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Hora Fin</mat-label>
      <input matInput placeholder="Hora Fin" formControlName="endTime">
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Salon</mat-label>
      <mat-select placeholder="Salon" formControlName="salon">
        <mat-option *ngFor="let s of (salon$ | async)" [value]="s.id">
          {{s.name }} - {{ s.aforo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-6">
      <mat-label>Curso</mat-label>
      <mat-select placeholder="Curso" formControlName="curso">
        <mat-option *ngFor="let c of (curso$ | async)" [value]="c.id">
          {{c.code }} - {{ c.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-dialog-close class="btn btn_danger">Cancelar</button>
  <button class="btn btn-primary" *ngIf="data.id == 0" (click)="operar()"
    [disabled]="frmAgenda.invalid">Guardar</button>
  <button class="btn btn-success" *ngIf="data.id != 0" (click)="operar()"
    [disabled]="frmAgenda.invalid">Actualizar</button>
</mat-dialog-actions>
